body    {
    display: flex;
    flex-direction: column;
    margin: 0;

}

.header    {
    background-color: #1f2937;
    flex: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 200px 0 200px;

}   

.logo   {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
}

.links-container    {
    display: flex;    
    justify-content: flex-end;
    flex: 1;
    gap: 24px;
}

.links    {
    font-size: 18px;
    display: flex;
    color: #e5e7eb;
}